@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="work-section section" id="section-2">
    <div class="container">
        <div class="row">
            <div class="item col-md-4">
                <div class="tm-work-item-inner">
                    <div class="icn"><i class="fas fa-2x fa-icons"></i></div>
                    <h3>.01 Get An Idea</h3>
                    <p>Simply Amazed is free HTML template provided by Tooplate website. Please tell your friends about our website. Thank you.</p>
                </div>
            </div>
            <div class="item col-md-4 one">
                <div class="tm-work-item-inner">
                    <div class="icn"><i class="fas fa-2x fa-tools"></i></div>
                    <h3>.02 Create It</h3>
                    <p>This is a full-width CSS template with bootstrap 5, you can download, modify and use this layout for your simple CSS website.</p>
                </div>
            </div>
            <div class="item col-md-4 two">
                <div class="tm-work-item-inner">
                    <div class="icn"><i class="fab fa-2x fa-phoenix-framework"></i></div>
                    <h3>.03 Execute it</h3>
                    <p>You are allowed to use this for your personal and commerical projects, you are not allowed to redistribute the template ZIP file on any download site.</p>
                </div>
            </div>
        </div>
        <div class="title">
            <h2>Our Work</h2>
        </div>
    </div>
</section>

<section class="gallery-section section parallax-window" data-parallax="scroll" data-image-src="img/section-3-bg.jpg" id="section-3">
    <div class="container">
        <div class="title text-right">
            <h2>Our Gallery</h2>
        </div>
        <div class="mx-auto gallery-slider">
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-01.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-02.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-03.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-04.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-05.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-06.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-07.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-08.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
            <figure class="effect-julia item">
                <img src="~/assets/img/gallery-img-09.jpg" alt="Image">
                <figcaption>
                    <div>
                        <p>Julia dances in the deep dark</p>
                    </div>
                    <a href="#">View more</a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>